<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sobour Bank</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href={{ asset("images/cc.jpg")}}>
    <link href={{asset("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700")}} rel="stylesheet">
    <link rel="stylesheet" href={{ asset("fonts/icomoon/style.css")}}>

    <link rel="stylesheet" href={{ asset("css/bootstrap.min.css")}}>
    <link rel="stylesheet" href={{ asset("css/jquery-ui.css")}}>
    <link rel="stylesheet" href={{ asset("css/owl.carousel.min.css")}}>
    <link rel="stylesheet" href={{ asset("css/owl.theme.default.min.css")}}>
    <link rel="stylesheet" href={{ asset("css/owl.theme.default.min.css")}}>

    <link rel="stylesheet" href={{ asset("css/jquery.fancybox.min.css")}}>

    <link rel="stylesheet" href={{ asset("css/bootstrap-datepicker.css")}}>

    <link rel="stylesheet" href={{ asset("fonts/flaticon/font/flaticon.css")}}>

    <link rel="stylesheet" href={{ asset("css/aos.css")}}>

    <link rel="stylesheet" href={{ asset("css/style.css")}}>
    
  </head>
 <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
   <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
     <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href={{ path("accueil") }} class="h2 mb-0">
            <img src={{ asset("images/sobour.jpg")}} width="35" height="35" alt="">Sobour Bank<span class="text-primary"></span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">{% trans %}Accueil {% endtrans %}</a></li>
                <li><a href="#pret-section" class="nav-link">{% trans %}Demande de prêt{% endtrans %}</a></li>
                <li class="has-children">
                  <a href="#about-section" class="nav-link">{% trans %}Qui sommes-nous ?{% endtrans %}</a>
                  <ul class="dropdown">
                    <li><a href="#team-section" class="nav-link">{% trans %}Notre équipe{% endtrans %}</a></li>
                   
                    <li><a href="#faq-section" class="nav-link">FAQ</a></li>
                    <li><a href="#services-section" class="nav-link">{% trans %}Nos services{% endtrans %}</a></li>
                    <li><a href="#testimonials-section" class="nav-link">{% trans %}Témoignages{% endtrans %}</a></li>
                    
                  </ul>
                </li>
                
                
                

              </ul>

              <ul class="navbar-nav ml-auto">
                    
              </ul>
              
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>
<div class="site-blocks-cover overlay" style="background-image: url({{asset('images/hero_2.jpg')}});" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">

          
          <div class="col-md-10 mt-lg-5 text-center">
            <div class="single-text owl-carousel">
              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">{% trans %}Solutions bancaires{% endtrans %}</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">{% trans %}Des solutions bancaires ouvertes et flexibles pour les particuliers{% endtrans %}</p>
                <div data-aos="fade-up" data-aos-delay="100">
                  <a href="#contact-section"  class="btn  btn-primary mr-2 mb-2">{% trans %}contactez-nous{% endtrans %}</a>
                </div>
              </div>

              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">{% trans %}Solutions financières{% endtrans %}</h1>
                <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">{% trans %}Nous vous proposons une solution de financement personnalisée{% endtrans %}</p>
                <div data-aos="fade-up" data-aos-delay="100">
                  <a href="#contact-section"  class="btn  btn-primary mr-2 mb-2">{% trans %}contactez-nous{% endtrans %}</a>
                </div>
              </div>

            </div>
          </div>
            
        </div>
      </div>

      <a href="#next" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
      </a>
    </div>  
    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">{% trans %}Qui sommes-nous ?{% endtrans %}</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">{% trans %}Sobour Bank est un groupe bancaire privé, dirigé par une association de commerçants.{% endtrans %}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src={{asset ("images/img_2.jpg")}} alt="Free Website Template by Free-Template.co" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            
            <h3 class="text-black mb-4">{% trans %}Nous résolvons votre problème financier{% endtrans %}</h3>

            <p>{% trans %}Nous résolvons vos problèmes en créant des services financiers qui fonctionnent : sans frais de transaction{% endtrans %}</p>

            <p>{% trans %}Nous donnons accès à des interactions personnelles avec des conseillers financiers experts et à des programmes éducatifs qui informent et motivent.{% endtrans %}</p>
            
          </div>
        </div>    
        
      </div>  
    </div>

    <div class="site-section" id="next">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="">
            <img src={{asset("images/flaticon-svg/svg/001-wallet.svg")}} alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">{% trans %}Économie{% endtrans %}</h3>
            <p>{% trans %}Obtenez un compte d'épargne et nos conseils{% endtrans %}</p>
          </div>
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
            <img src={{asset("images/flaticon-svg/svg/004-cart.svg")}} alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">{% trans %}Achats en ligne{% endtrans %}</h3>
            <p>{% trans %}Nous avons des solutions pour vos achats en ligne avec des tarifs flexibles{% endtrans %}</p>
          </div>
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
            <img src={{asset("images/flaticon-svg/svg/006-credit-card.svg")}} alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">{% trans %}Carte de crédit/débit{% endtrans %}</h3>
            <p>{% trans %}Nous créditons vos cartes Visa quelle que soit votre banque{% endtrans %}</p>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src={{asset("images/about_2.jpg")}} alt="Free Website Template by Free-Template.co" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">{% trans %}Les solutions bancaires sont notre priorité{% endtrans %}</h3>
              <p>{% trans %}Vivre pleinement vos projets en profitant de la vie {% endtrans %}</p>
              
            </div>
              
            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>{% trans %}Offre aux étudiants{% endtrans %}</li>
                <li>{% trans %}Offre immobilière{% endtrans %}</li>
                <li>{% trans %}Offre commerciale{% endtrans %}</li>
              </ul>
              
            </div>

            
            
            
          </div>
        </div>
      </div>
    </div>
     <section class="site-section bg-light" id="pret-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">{% trans %}Demander un prêt{% endtrans %}<h2>
            {% for message in app.flashes('message') %}
        <div class="alert alert-success ">
            {{ message }}
        </div>
    {% endfor %}
          </div>
        </div>
        <div class="row mb-5">
        
        <div class="row">
          <div class="col-md-12 mb-5">

            {{ form_start(form1, {'attr': {'class': 'p-5 bg-white'}}) }}
  
              
              <h2 class="h4 text-black mb-5">{% trans %}Demande de prêt {% endtrans %}</h2> 


            <div class="row form-group">
                <div class="col-md-12">
                {{ 'Montant avec un intérêt de  3%.'|trans }}

              
                    {{ form_widget(form1.montant) }}
                </div>
                <div class="col-md-12">
                {{ 'Durée en année'|trans }}
                    {{ form_widget(form1.duree) }}
                </div>
            </div>
            <div class="row form-group">
                
                <div class="col-md-12">
                {{ 'Type de prêt'|trans }}
                  {{ form_widget(form1.type) }}
                </div>
              </div>
              <div class="row form-group">
                
                <div class="col-md-12">
                {{ 'Nom'|trans }}
                  {{ form_widget(form1.nom) }}
                </div>
              </div>
              <div class="row form-group">
                
                <div class="col-md-12">
                {{ 'Numero de telephone'|trans }}
                  {{ form_widget(form1.telephone) }}
                </div>
              </div>
              <div class="row form-group">
                
                <div class="col-md-12">
                {{ 'Email'|trans }}
                  {{ form_widget(form1.email) }}
                </div>
              </div>
            
              
               


    <div class="row form-group">
                <div class="col-md-12">
    <button class="btn btn-primary btn-md text-white" id="v">{{ button_label|default('submit') }}</button>
    </div>
    </div>
{{ form_end(form1) }}

  
            
          
          </div>

          
        </div>
      </div>
    </section>
    <section class="site-section border-bottom" id="team-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">{% trans %}Rencontrer l'équipe{% endtrans %}</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">{% trans %}Quelques membres de notre équipe{% endtrans %}</p>
          </div>
        </div>
        <div class="row">
          

          
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="">
            <div class="team-member">
              <figure>
               
                <img src={{asset("images/person_1.jpg")}} alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3> Dave Simpson</h3>
                <span class="position">{% trans %} COMPTABLE{% endtrans %}</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                
                <img src={{asset("images/person_2.jpg")}} alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Kaiara Spencer</h3>
                <span class="position">{% trans %}CAISSIER{% endtrans %}</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <figure>
                
                <img src={{asset("images/person_3.jpg")}} alt="Image" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Ben Thompson</h3>
                <span class="position">{% trans %}CAISSIER {% endtrans %}</span>
              </div>
            </div>
          </div>

          
          
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">{% trans %}Comment ça marche?{% endtrans %}</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">{% trans %}Obtenir de nous ce que vous voulez est simple{% endtrans %}</p>
          </div>
        </div>
        
        <div class="row align-items-lg-center" >
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

            <div class="owl-carousel slide-one-item-alt">
              <img src={{asset("images/img_1.jpg")}} alt="Image" class="img-fluid">
              <img src={{asset("images/build.jpg")}} alt="Image" class="img-fluid">
              <img src={{asset("images/img_3.jpg")}} alt="Image" class="img-fluid">
            </div>
            <div class="custom-direction">
              <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
            </div>

          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            
            <div class="owl-carousel slide-one-item-alt-text">
              <div>
                <h2 class="section-title mb-3">01. {% trans %}Demande en ligne{% endtrans %}</h2>
                <p>{% trans %}Dans le formulaire de contact, mettez l'objet de votre demande et une description détaillée sans oublier votre numéro de téléphone, l'indicatif du pays et votre adresse électronique.{% endtrans %}</p>

                <p><a href="#contact-section" class="btn btn-primary mr-2 mb-2">{% trans %}Pour en savoir plus{% endtrans %}</a></p>
              </div>
              <div>
                <h2 class="section-title mb-3">02. {% trans %}Obtenez l'approbation{% endtrans %}</h2>
                <p>{% trans %}Nous vous contacterons alors pour vous informer de notre approbation et de nos conditions.{% endtrans %}</p>
                <p><a href="#contact-section" class="btn btn-primary mr-2 mb-2">{% trans %}Pour en savoir plus{% endtrans %}</a></p>
              </div>
              <div>
                <h2 class="section-title mb-3">03. {% trans %}Débit sur le compte/la carte{% endtrans %}</h2>
                <p>{% trans %}Votre carte de débit ou votre compte sera crédité.{% endtrans %}</p>

                <p><a href="#contact-section" class="btn btn-primary mr-2 mb-2">{% trans %}Pour en savoir plus{% endtrans %}</a></p>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </section>
     <section class="site-section border-bottom bg-light" id="services-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">{% trans %}Nos services{% endtrans %}</h2>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src={{asset("images/flaticon-svg/svg/001-wallet.svg")}} alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>{% trans %}Conseils pour l'épargne{% endtrans %}</h3>
                <p>{% trans %}Adoptez les bonnes pratiques d'épargne et optimisez vos stratégies budgétaires dès maintenant avec nous{% endtrans %}</p>
                <p><a href="#contact-section">{% trans %}Pour en savoir plus{% endtrans %}</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src={{asset("images/flaticon-svg/svg/006-credit-card.svg")}} alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>{% trans %}Carte de crédit{% endtrans %}</h3>
                <p>{% trans %}Offre à durée limitée. Achats minimums et produits d'assurance requis{% endtrans %}</p>
                <p><a href="#contact-section">{% trans %}Pour en savoir plus{% endtrans %}</a></p>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src={{asset("images/flaticon-svg/svg/004-cart.svg")}} alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>{% trans %}Investissement financier{% endtrans %}</h3>
                <p>{% trans %}L'établissement d'une pyramide dans l'organisation de vos priorités financières vous permettra de distinguer les décisions secondaires de celles qui doivent être reportées.{% endtrans %}</p>
                <p><a href="#contact-section">{% trans %}Pour en savoir plus{% endtrans %}</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src={{asset("images/flaticon-svg/svg/005-megaphone.svg")}} alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>{% trans %}Gestion {% endtrans %}</h3>
                <p>{% trans %}Découvrez les implications de l'alignement des objectifs de votre régime de retraite, de vos investissements, etc.{% endtrans %}</p>
                <p><a href="#contact-section">{% trans %}Pour en savoir plus{% endtrans %}</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
     <section class="site-section testimonial-wrap" id="testimonials-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">{% trans %}Clients satisfaits{% endtrans %}</h2>
          </div>
        </div>
      </div>
      <div class="slide-one-item home-slider owl-carousel">
          <div>
            <div class="testimonial">
              
              <blockquote class="mb-5">
                <p>&ldquo;{% trans %}Très satisfait, surtout toujours disponible pour nous aider et répondre à nos questions. {% endtrans %}&rdquo;</p>
              </blockquote>

              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src={{asset("images/1.jpg")}} alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>John Smith</p>
              </figure>
            </div>
          </div>
          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;{% trans %}Très compétent et soucieux de ses clients {% endtrans %}!!!!!!!!!!&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src={{asset("images/2.jpg")}} alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Christian Aguilar</p>
              </figure>
              
            </div>
          </div>

          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;{% trans %}Large disponibilité de solutions financières avec des délais flexibles{% endtrans %} &rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                 <div><img src={{asset("images/3.jpg")}} alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Robert Spears</p>
              </figure>

              
            </div>
          </div>

          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;{% trans %} Je suis satisfait{% endtrans %}&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src={{asset("images/4.jpg")}} alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Bruce Rogers</p>
              </figure>

            </div>
          </div>

        </div>
    </section>
    
    <section class="site-section bg-light" id="pricing-section">
     
        
        <div class="row site-section" id="faq-section">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title">{% trans %}Foire aux questions{% endtrans %}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            
            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">{% trans %}Nos modes de paiement ou de facturation{% endtrans %}</h3>
            <p>{% trans %}Nous effectuons des débits sur toutes les cartes de crédit et tous les comptes bancaires.{% endtrans %}</p>
            </div>
            
            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">{% trans %}Quelle est la période de remboursement ?{% endtrans %}</h3>
              <p>{% trans %}Des conditions flexibles en fonction de votre prêt{% endtrans %}</p>
            </div>

          </div>
          <div class="col-lg-6">

            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">{% trans %}D'où êtes-vous ?{% endtrans %}</h3>
              <p>{% trans %}  France{% endtrans %}</p>
            </div>
            
            <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">{% trans %}Quelles sont les heures d'ouverture ?{% endtrans %}</h3>
              <p>8:00</p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="about-section">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src={{asset("images/img_4.jpg")}} alt="Free Website Template by Free-Template.co" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            

            <div class="row">

              
              
              <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="">
                <div class="unit-4 d-flex">
                  <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-head"></span></div>
                  <div>
                    <h3>{% trans %}prêt bancaire{% endtrans %}</h3>
                   
                    <p class="mb-0"><a href="#contact-section">{% trans %}Pour en savoir plus{% endtrans %}</a></p>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="unit-4 d-flex">
                  <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-smartphone"></span></div>
                  <div>
                    <h3>{% trans %}Consultation avec la banque{% endtrans %}</h3>
                  
                    <p class="mb-0"><a href="#contact-section">{% trans %}Pour en savoir plus{% endtrans %}</a></p>
                  </div>
                </div>
              </div>
            </div>


            
          </div>
        </div>

        
      </div>
    </section>
    
    <section class="site-section bg-light" id="contact-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">{% trans %}contactez-nous{% endtrans %}<h2>
          </div>
        </div>
        <div class="row mb-5">
          


          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-room d-block h2 text-primary"></span>
              <span>16  Robert Schuman - ZAC des Clairions - 89000 Auxerre, France</span>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-phone d-block h2 text-primary"></span>
              <h6>{% trans %}cliquez sur le numero pour nous envoyez un message whatsapp{% endtrans %}</h6>
              <a href="https://wa.me/message/PTSICRQY6B67G1">+33 7 56 91 73 60</a>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-0">
              <span class="icon-mail_outline d-block h2 text-primary"></span>
              <a href="#">terkibiezo@sobourbank.xyz</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-5">

            {{ form_start(form, {'attr': {'class': 'p-5 bg-white'}},{'action': path('contact_new'), 'method': 'POST'}) }}
  
              
              <h2 class="h4 text-black mb-5">{% trans %}Formulaire de contact{% endtrans %}</h2> 


            <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                {{ 'Nom'|trans }}
                    {{ form_widget(form.nom) }}
                </div>
                <div class="col-md-6">
                {{ 'Prenom'|trans }}
                    {{ form_widget(form.prenom) }}
                </div>
            </div>
            <div class="row form-group">
                
                <div class="col-md-12">
                {{ 'Numero de telephone'|trans }}
                  {{ form_widget(form.telephone) }}
                </div>
              </div>
              <div class="row form-group">
                
                <div class="col-md-12">
                {{ 'Email'|trans }}
                  {{ form_widget(form.email) }}
                </div>
              </div>
                <div class="row form-group">
                
                <div class="col-md-12">
                {{ 'Sujet'|trans }}
                  {{ form_widget(form.objet) }}
                </div>
              </div>
              <div class="row form-group">
                
                <div class="col-md-12">
                {{ 'Message'|trans }}
                  {{ form_widget(form.message) }}
                </div>
              </div>


    <div class="row form-group">
                <div class="col-md-12">
    <button class="btn btn-primary btn-md text-white" id="vvv">{{ button_label|default('submit') }}</button>
    </div>
    </div>
{{ form_end(form) }}

  
            
          
          </div>

          
        </div>
      </div>
    </section>
    <script>
    const notyf = new Notyf(
        {
            duration:8000,
            position: {
                x: 'right',
                y: 'top',
            },
            dismissible: true,
            types: [
               {
      type: 'success',
      background: 'orange',
      
    },
              
            ] 
        }
    ) 
    $('#vvv').click(function () {
      notyf.open({
                        type: 'success',
                        message :'Attention quantité seuil déja atteinte penser à faire une commande du produit'
                    })
    })
    </script>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">{% trans %}Qui sommes-nous ?{% endtrans %}</h2>
                <p>{% trans %}Sobour Bank est un groupe bancaire privé, dirigé par une association de commerçants.{% endtrans %}</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">{% trans %}Liens rapides{% endtrans %}</h2>
                <ul class="list-unstyled">
                  
                
                  <li><a href="#about-section" class="smoothscroll">{% trans %}Qui sommes-nous ?{% endtrans %}</a></li>
                  <li><a href="#services-section" class="smoothscroll">{% trans %}Services{% endtrans %}</a></li>
                  <li><a href="#testimonials-section" class="smoothscroll">{% trans %}Témoignages{% endtrans %}</a></li>
                  <li><a href="#contact-section" class="smoothscroll">{% trans %}contactez-nous{% endtrans %}</a></li>
                </ul>
              </div>
              <div class="col-md-3 footer-social">
                <h2 class="footer-heading mb-4"></h2>
                <span class="icon-facebook"></span>
                <span class="icon-twitter"></span>
                <span class="icon-instagram"></span>
                <span class="icon-linkedin"></span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
          
        
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
          <ul>
          {% for locale in locales  %}
                {% if locale != app.request.locale %}
                
                  <li class="social"><a href="{{path('change_locale',{'locale': locale})}}" ><img src="{{ asset('images/'~locale~'.png')}}" width="20" height="20" alt={{locale}}>{{locale}}</a></li>{% endif %}
               
                {% endfor %}
                </ul>
            <div class="border-top pt-5">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <p>Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
              </p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div> 


   {% block body %}{% endblock %}

  <script src={{ asset("js/jquery-3.3.1.min.js")}}></script>
  <script src={{ asset("js/jquery-ui.js")}}></script>
  <script src={{ asset("js/popper.min.js")}}></script>
  <script src={{ asset("js/bootstrap.min.js")}}></script>
  <script src={{ asset("js/owl.carousel.min.js")}}></script>
  <script src={{ asset("js/jquery.countdown.min.js")}}></script>
  <script src={{ asset("js/jquery.easing.1.3.js")}}></script>
  <script src={{ asset("js/aos.js")}}></script>
  <script src={{ asset("js/jquery.fancybox.min.js")}}></script>
  <script src={{ asset("js/jquery.sticky.js")}}></script>
  <script src={{ asset("js/isotope.pkgd.min.js")}}></script>

  
  <script src={{ asset("js/main.js")}}></script>

  
  </body>
</html>